@{  
    ViewBag.Title = "Home Page";  
}  

<script>
    function loadPartialView() {
            $.ajax({
                url: "@Url.Action("MessagesList","Home")",
                type: 'POST',
                dataType: 'html',        
                cache: false,
                success: function (html) {
                     $("#partialContainer").html(html); 
                }
            });
        }
    function RefreshPartial(){
        //this will wait 1 seconds and then fire the load partial function
        setTimeout(function(){
            loadPartialView();
            //recall this function so that it will continue to loop
            RefreshPartial();
        }, 1000);
    }
    //initialize the loop
    RefreshPartial();
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop - Inquiry with Insights</title>
    <style>
        body, html {
            height: 100%; /* Make sure html and body are full height */
            margin: 0;
            padding: 0;
            background-color: #eaeaea;
            font-family: Arial, sans-serif;
        }

        .content-container {
            height: calc(85vh - 60px); /* 90% of the viewport height minus the header and footer height */
            overflow: auto;
            padding: 20px;
            padding-bottom: 70px;
        }

        .homepage {
            position: relative;
            /* Needed for positioning the pseudo-element */
            color: white;
            text-align: left;
            padding: 100px 20px;
            overflow: hidden;
            /* Ensures the pseudo-element is clipped to the header's bounds */
        }

        .homepage::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('~/assets/flower_background.jpg');
            background-size: cover;
            filter: blur(3px);
            /* Apply blur effect */
            z-index: -1;
            /* Ensures the pseudo-element is behind the content */
        }

        .homepage h1 {
            font-family: Bell MT;
            font-size: 42px;
            margin-bottom: 20px;
            margin-left: 30px;
            position: relative;
            /* Ensures text is above the blurred image */
        }

        .homepage p {
            color: #F2F6F2;
            font-family: Sans serif;
            font-size: 20px;
            margin-bottom: 30px;
            margin-left: 30px;
            position: relative;
            /* Ensures text is above the blurred image */
        }

        .button {
            font-family: Arial;
            color: #fff;
            padding: 10px 20px;
            margin-left: 30px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border: 2px solid white;
            position: relative;
            /* Ensures button is above the blurred image */
        }
    </style>
</head>

<body>
    <div class="homepage">
        <h1> Discover Unique <br> Floral Magic </h1>
        <p> Elevate any moment with our expertly designed flower arrangements, <br> crafted with love in Seattle. </p>
        <a href="#" class="button">Shop Now</a>
    </div>

    @* <div class="content-container">
        <div id="partialContainer">
                @Html.Partial("MessagesList")
        </div>
    </div>

    <div class="button">
            @using (Html.BeginForm("ClearHistory", "Home", FormMethod.Post))
            {
            <input type="submit" value="Clear History" class="btn-secondary" />
            }
    </div> *@
</body>


<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
