<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Message Analysis Demo App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CpmDemoApp.styles.css" asp-append-version="true" />
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #EEFBF2;
            padding: 10px;
        }

        .shopname {
            display: flex;
            margin-top: 10px;
            margin-left: 10%;
        }

        .logo {
            height: 38px;
            padding-right: 10px;
        }

        .customerinsightsbutton {
            margin-right: 10%;
            text-align: right;
            padding: 5px 10px;
            text-decoration: none;
            display: inline-block;
            border: 2px solid black;
        }

        .customerinsightsbuttontext {
            font-size: 16px;
            color: #000;
            font-family: Arial rounded mt;
        }

        .shopnametext {
            font-size: 24px;
            font-family: script MT;
            font-weight: bold;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="header container-fluid">
        <div class="shopname">
            <img src="~/assets/logo.png" alt="Shop Logo" class="logo">
            @Html.ActionLink("Blossom Bliss Studio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand shopnametext" })
        </div>
        <div class="customerinsightsbutton">
            @Html.ActionLink("Customer Insights", "CustomerInsights", "Home", new { area = "" }, new { @class = "nav-link customerinsightsbuttontext" })
        </div>
    </div>
    
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
